@model asm_c4.Models.User

@{
    ViewData["Title"] = "Tạo Tài Khoản Mới";
}
@{
    Layout = "_AdminLayout";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="CreateAccount" method="post">
    <div class="form-group">
        <label asp-for="Username" class="control-label">Tên đăng nhập</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Mật khẩu</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VaiTro" class="control-label">Vai trò</label>
        <select asp-for="VaiTro" class="form-control">
            <option value="User">User</option>
            <option value="Admin">Admin</option>
        </select>
        <span asp-validation-for="VaiTro" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Tạo tài khoản</button>
        <a asp-action="AccountMangement" class="btn btn-secondary">Hủy</a>
    </div>
</form>


